/Everlight.Tree/bin/Debug
/Everlight.Tree.Tests/obj/Debug
/packages/FluentAssertions.4.19.4
/Everlight.Tree/obj/Debug
/Everlight.Logic/obj/Debug
/Everlight.Tree.Tests/bin/Debug/FluentAssertions.xml
/Everlight.Tree.Tests/bin/Debug/FluentAssertions.pdb
/Everlight.Tree.Tests/bin/Debug/FluentAssertions.dll
/Everlight.Tree.Tests/bin/Debug/FluentAssertions.Core.xml
/Everlight.Tree.Tests/bin/Debug/FluentAssertions.Core.pdb
/Everlight.Tree.Tests/bin/Debug/FluentAssertions.Core.dll
/Everlight.Tree.Tests/bin/Debug/Everlight.Tree.Tests.pdb
/Everlight.Tree.Tests/bin/Debug/Everlight.Tree.Tests.dll
/Everlight.Tree.Tests/bin/Debug/Everlight.Logic.pdb
/Everlight.Tree.Tests/bin/Debug/Everlight.Logic.dll
